.b-aside {
  order: 0;

  & .b-sidebar--wrapper {
    right: 0;
    left: auto;
  }

  .b-sidebar--top-info--header {
    font-family: $ag-font-family;
    @include rem(14);
    color: #fefefe;
    letter-spacing: 0.33px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
  }

  .b-sidebar--top-info--text {
    @include rem(12);
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 12px;
  }

  .b-sidebar--logo-trophy {
    margin-bottom: 10px;

    @media only screen and (max-width: $breakpoint-xs){
      display: none;
    }
  }

  .b-sidebar--wrapper {
    @include align-self(flex-start);

    @media only screen and (max-width: $breakpoint-lg){
      position: fixed;
      padding-bottom: 134px;
    }

    @media only screen and (max-width: $breakpoint-xs){
      @include translate(100%, 0);
    }
  }
}