.b-breadcrumbs {
  padding-left: $game-padding;
  padding-right: $game-padding;
  padding-bottom: 21px;
  padding-top: 23px;

  &-list {
    color: #ffffff;
    @include rem(14);
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;

    &--item {
      display: inline-flex;
      position: relative;

      &-link {
        color: #ffffff;
        text-decoration: none;
        position: relative;

        &:after {
          content: ">";
          position: relative;
          padding-left: 5px;
        }
      }
    }
  }

  @media only screen and (max-width: $breakpoint-xs){
    display: none;
  }
}