.button {
  @include border-radius(20px);
  @include rem(12);
  color: $button-color;
  position: relative;
  padding: 0 0.4rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.15;
  display: inline-flex;
  @include justify-content(center);
  @include align-items(center);
  line-height: 1;
  white-space: normal;
  height: 26px;

  // @include transition(0.250s linear);

  &--green {
    border: 1px solid $button-green-border-color;
    text-shadow: 0 1px 2px $button-green-text-shadow-color;
    background-color: $button-green-background-color-1;
    @include linear-gradient(0deg, $button-green-background-color-2 0%, $button-green-background-color-2 50%, $button-green-background-color-1 51%);

    &:hover {
      background: $button-green-background-hover-color;
    }
  }

  &--blue {
    border: 1px solid $button-blue-border-color;
    text-shadow: 0 1px 2px $button-blue-text-shadow-color;
    background-color: $button-blue-background-color-1;
    @include linear-gradient(0deg, $button-blue-background-color-2 0%, $button-blue-background-color-2 50%, $button-blue-background-color-1 51%);

    &:hover:not(.button--language) {
      @include linear-gradient(0deg, $button-blue-background-hover-color-2 0%, $button-blue-background-hover-color-2 50%, $button-blue-background-hover-color-1 51%);
    }
  }

  &[disabled], &.button--disabled {
    background: $button-disabled-background-color;
    border: 1px solid $button-disabled-border-color;
    text-shadow: none;
    cursor: default;

    &:hover, &:active {
      background: $button-disabled-background-color;
      border: 1px solid $button-disabled-border-color;
      text-shadow: none;
      cursor: default;
    }
  }

  &--small {
    @include rem(9);
    padding: 0 0.4rem;
    border-radius: 11px;
    width: auto;
    background: $button-small-background-color;
    border: 1px solid $button-small-border-color;
    text-shadow: none;
    height: 20px;
    min-width: 89px;

    &:after {
      display: none;
    }

    &-orange {
      background-color: $orange;

      &:hover, &:active {
        background-color: $orange;
      }
    }
  }
}