.b-cashier{
  &--head{
    border-radius: 6px 6px 0 0;
    background-color: rgba(72,93,148,0.34);
    @include flexbox();
    height: 48px;
    @include align-items(center);
    @include justify-content(space-around);

    &-item{
      @include flexbox();
      @include justify-content(center);

      span{
        cursor: pointer;
        @include rem(15);
        color: $chetwodeBlue;
        font-weight: 500;
        letter-spacing: 0;
        text-align: center;
        line-height: 1;
        padding: 0 3px;
      }

      &-select{
        span{
          color: $orange;
        }
      }
    }
  }

  &--body{
    padding: 16px 16px 33px;

    @media only screen and (max-width: $breakpoint-xs){
      padding: 12px 12px 33px
    }

  }

  &--card-wrap{
    margin-bottom: 28px;

    &.row{
      margin-left: -3px;
      margin-right: -3px;

      @media only screen and (max-width: $breakpoint-lg){
        margin-left: -2px;
        margin-right: -2px;
      }
    }

    .col-auto{
      margin-bottom: 6px;
      padding-left: 3px;
      padding-right: 3px;

      @media only screen and (max-width: $breakpoint-lg){
        margin-bottom: 4px;
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }

  &--card-pay{
    width: 144px;
    height: 90px;
    box-shadow: 0 2px 4px #182039;
    border-radius: 8px;
    border: 1px solid #2f3e6a;
    background-color: #171f38;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    @media only screen and (max-width: $breakpoint-lg){
      width: 104px;
      height: 65px;
    }

    @media only screen and (max-width: $breakpoint-xs){
      width: 84px;
      height: 53px;
      padding: 16px;

      img{

      }
    }
  }

  &--form-group{
    min-width: 220px;

    @media only screen and (max-width: 745px){
      min-width: 0;
      max-width: 220px;
      margin-bottom: 25px;
    }
  }

  .col-last{
    @include flexbox();
    @include align-items(flex-end);

    .button{
      min-width: 130px;
      margin-left: 18px;

      @media only screen and (max-width: $breakpoint-lg){
        margin-left: 2px;
      }

      @media only screen and (max-width: 745px){
        min-width: 0;
        max-width: 130px;
      }
    }
  }

  &--form-label{
    @include rem(13);
    color: $placeholder-color;
    letter-spacing: 0;
    margin-bottom: 9px;
    display: block;
  }

  &--amount-label{
    @include rem(16);
    line-height: 1;
    color: $orange;
    letter-spacing: 0;
    margin-bottom: 12px;
    padding-top: 2px;
    padding-left: 20px;
    min-width: 120px;

    @media only screen and (max-width: $breakpoint-lg){
      padding-left: 0;
      min-width: 96px;
    }
  }

  &--amount-total{
    @include rem(13);
    line-height: 1;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-left: 20px;
    min-width: 120px;

    @media only screen and (max-width: $breakpoint-lg){
      padding-left: 0;
      min-width: 96px;
    }

    @media only screen and (max-width: 745px){
      margin-bottom: 12px;
      @include align-items(center);
    }

  }

  form{
    @media only screen and (max-width: 745px){
      .col-auto{
        width: 100%;
        flex: 0 0 100%;

        &:first-child{
          display: flex;
        }
      }
    }
  }
}