[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 58px;
  cursor: pointer;
  color: #ffffff;

  @media only screen and (max-width: $breakpoint-xs){
    padding-left: 36px;
  }
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 26px;
  height: 26px;
  background: $popup-background-color;
  border: 1px solid $checkbox-border-color;
  border-radius: 4px;

  @media only screen and (max-width: $breakpoint-xs){
    width: 20px;
    height: 20px;
  }
}


/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  transition: all .2s;
  background-image: url('#{$image-path}/icons.svg');
  background-position: 0 -89px;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
  top: 7px;
  left: 6px;

  @media only screen and (max-width: $breakpoint-xs){
    top: 4px;
    left: 4px;
  }
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

// disabled checkbox */
//[type="checkbox"]:disabled:not(:checked) + label:before,
//[type="checkbox"]:disabled:checked + label:before {
//  box-shadow: none;
//  border-color: #bbb;
//  background-color: #ddd;
//}
//[type="checkbox"]:disabled:checked + label:after {
//  color: #999;
//}
//[type="checkbox"]:disabled + label {
//  color: #aaa;
//}