//Slick slider
.slick-list {
  padding: 0 !important;
}
.slick-track {
  will-change: transform;
  font-size: 0;
}
.b-slider--photo {
  min-height: 10em;
  width: 100%;

  @media only screen and (max-width: $breakpoint-xs){
    //height: 434px;
    //width: auto !important;
    //overflow: hidden;
    //margin: 0 -150%;
  }
}

.slick-slide {
  position: relative;
  width: 100vw;
}

.slide {
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    @include linear-gradient(to right, #101427 0%, rgba(0, 0, 0, 0) 70%);
  }

  @media only screen and (max-width: $breakpoint-xs){
    //height: 434px;
  }
}


.slick-dots {
  bottom: 42px;

  @media only screen and (max-width: $breakpoint-md){
    bottom: 16px;
  }
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.slick-dots li button:before {
  opacity: 1;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.b-slider {
  &--content {
    padding-left: 106px;
    padding-top: 7%;
    bottom: 0;
    max-width: 78%;
    padding-right: 10%;

    @media (min-width: 1207px){
      padding-top: 12%;
    }

    @media only screen and (max-width: $breakpoint-lg){
      padding-left: 35px;
    }

    @media only screen and (max-width: $breakpoint-xs){
      padding-left: 16px;
      max-width: 90%;
      margin: 0;
    }


    &-header {
      font-family: $ag-font-family;
      @include rem(70);
      font-weight: 700;
      line-height: 73px;
      color: #ffffff;
      padding-bottom: 52px;
      position: relative;

      & span {
        color: #ff9800;
        display: block;

        @media only screen and (max-width: $breakpoint-lg){
          display: inline;
        }
      }

      @media only screen and (max-width: $breakpoint-lg){
        @include rem(44);
        line-height: 50px;
        padding-bottom: 19px;
      }

      @media only screen and (max-width: $breakpoint-xs){
        @include rem(35);
        line-height: 42px;
        padding-bottom: 10px;
      }
    }
    &-description {
      color: #ffffff;
      @include rem(20);
      font-weight: 700;
      line-height: 30px;
      text-transform: uppercase;
      padding-bottom: 44px;
      position: relative;

      @media only screen and (max-width: $breakpoint-lg){
        @include rem(18);
        line-height: 25px;
        max-width: 202px;
        padding-bottom: 37px;
      }

      @media only screen and (max-width: $breakpoint-xs){
        @include rem(14);
        line-height: 21px;
        padding-bottom: 29px;
      }
    }
  }
}