//San Francisco
@font-face {
  font-family: 'SF UI Display';
  src: url('#{$font-path}/SanFrancisco/SFUIText-Medium.eot');
  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
  url('#{$font-path}/SanFrancisco/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/SanFrancisco/SFUIText-Medium.woff') format('woff'),
  url('#{$font-path}/SanFrancisco/SFUIText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('#{$font-path}/SanFrancisco/SFUIDisplay-Regular.eot');
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
  url('#{$font-path}/SanFrancisco/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/SanFrancisco/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('#{$font-path}/SanFrancisco/SFUIDisplay-Light.eot');
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
  url('#{$font-path}/SanFrancisco/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/SanFrancisco/SFUIDisplay-Light.woff') format('woff'),
  url('#{$font-path}/SanFrancisco/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('#{$font-path}/SanFrancisco/SFUIDisplay-Thin.eot');
  src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
  url('#{$font-path}/SanFrancisco/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/SanFrancisco/SFUIDisplay-Thin.woff') format('woff'),
  url('#{$font-path}/SanFrancisco/SFUIDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

//Roboto
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto/roboto-black-webfont.eot');
  src: url('#{$font-path}/Roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Roboto/roboto-black-webfont.woff2') format('woff2'),
  url('#{$font-path}/Roboto/roboto-black-webfont.woff') format('woff'),
  url('#{$font-path}/Roboto/roboto-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto/roboto-bold-webfont.eot');
  src: url('#{$font-path}/Roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Roboto/roboto-bold-webfont.woff2') format('woff2'),
  url('#{$font-path}/Roboto/roboto-bold-webfont.woff') format('woff'),
  url('#{$font-path}/Roboto/roboto-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto/roboto-light-webfont.eot');
  src: url('#{$font-path}/Roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Roboto/roboto-light-webfont.woff2') format('woff2'),
  url('#{$font-path}/Roboto/roboto-light-webfont.woff') format('woff'),
  url('#{$font-path}/Roboto/roboto-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto/roboto-medium-webfont.eot');
  src: url('#{$font-path}/Roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Roboto/roboto-medium-webfont.woff2') format('woff2'),
  url('#{$font-path}/Roboto/roboto-medium-webfont.woff') format('woff'),
  url('#{$font-path}/Roboto/roboto-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}/Roboto/roboto-regular-webfont.eot');
  src: url('#{$font-path}/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/Roboto/roboto-regular-webfont.woff2') format('woff2'),
  url('#{$font-path}/Roboto/roboto-regular-webfont.woff') format('woff'),
  url('#{$font-path}/Roboto/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Lato
@font-face {
  font-family: 'lato';
  src: url('#{$font-path}/lato/lato-regular-webfont.eot');
  src: url('#{$font-path}/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/lato/lato-regular-webfont.woff2') format('woff2'),
  url('#{$font-path}/lato/lato-regular-webfont.woff') format('woff'),
  url('#{$font-path}/lato/lato-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Lato
@font-face {
  font-family: 'lato';
  src: url('#{$font-path}/lato/lato-regular-webfont.eot');
  src: url('#{$font-path}/lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/lato/lato-regular-webfont.woff2') format('woff2'),
  url('#{$font-path}/lato/lato-regular-webfont.woff') format('woff'),
  url('#{$font-path}/lato/lato-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//AG Futura
@font-face {
  font-family: 'AG_Futura';
  src: url('#{$font-path}/AGFutura/AGFuturaBold.eot');
  src: url('#{$font-path}/AGFutura/AGFuturaBold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/AGFutura/AGFuturaBold.woff2') format('woff2'),
  url('#{$font-path}/AGFutura/AGFuturaBold.woff') format('woff'),
  url('#{$font-path}/AGFutura/AGFuturaBold.svg#AGFuturaBold') format('svg'),
  url('#{$font-path}/AGFutura/AGFuturaBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}