.main-footer {
  flex: 0 0 auto;
  position: relative;
  z-index: 11;

  @media only screen and (max-width: $breakpoint-xs){
    z-index: 0;
  }


  &__payment-way {
    background-color: $footer-payment-way-background-color;
    border-top: 1px solid $footer-payment-way-border-color;
    border-bottom: 1px solid $footer-payment-way-border-color;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: var(--sidebar-width);
    padding-right: var(--sidebar-width);

    @media only screen and (max-width: $breakpoint-md){
      padding-left: 15px;
      padding-right: 15px;
    }

    &--list {
      list-style: none;
      padding: 0;
      margin: 0;
      @include flexbox();
      @include align-items(center);

      @media only screen and (max-width: $breakpoint-xl){
        padding-left: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
      }

      @media only screen and (max-width: $breakpoint-md){
        justify-content: center;
      }

      &-item {
        padding-right: 46px;

        @media only screen and (max-width: $breakpoint-xl){
          padding-left: 10px;
          padding-right: 10px;
        }

        @media only screen and (max-width: $breakpoint-md){
          padding-left: 22px;
          padding-right: 22px;
        }

        @media only screen and (max-width: $breakpoint-xs){
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    @media only screen and (max-width: $breakpoint-xs){
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__menu {
    height: 95px;
    background-image: url('#{$image-path}/main-footer__menu-background.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexbox();
    @include align-items(center);
    padding-left: var(--sidebar-width);
    padding-right: var(--sidebar-width);

    @media only screen and (max-width: $breakpoint-md){
      padding-left: 15px;
      padding-right: 15px;
    }

    @media only screen and (max-width: $breakpoint-xs){
      height: auto;
    }

    &--list {
      list-style: none;
      padding: 0 0 0 23px;
      margin: 0;

      @media only screen and (max-width: $breakpoint-xl){
        padding-left: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
      @media only screen and (max-width: $breakpoint-md) {
        justify-content: center;
      }

      @media only screen and (max-width: $breakpoint-xs){
        flex-flow: wrap;
        padding-top: 20px;
      }

      &-item {
        padding-left: 36px;
        padding-right: 36px;
        @include rem(14);
        font-weight: 700;
        display: inline-block;
        margin-bottom: 5px;

        @media only screen and (max-width: $breakpoint-xl){
          padding-left: 6px;
          padding-right: 6px;
        }

        @media only screen and (max-width: $breakpoint-md){
          padding-left: 8px;
          padding-right: 8px;

          &:first-child {
            padding-left: 0;
          }
        }

        @media only screen and (max-width: $breakpoint-xs){
          width: 100%;
          margin-bottom: 20px;
          text-align: center;
        }

        &--link {
          text-decoration: none;
          color: #ffffff;
          text-transform: uppercase;
        }
      }
    }
  }
}
