.b-game {
  position: relative;
  @include flexbox();
  @include justify-content(center);
  padding-left: $game-padding;
  padding-right: $game-padding;
  margin-bottom: 64px;

  &--wrapper {
    border-radius: 8px;
    border: 2px solid $table-avatar-border-color;
    line-height: 0;

    & img {
      width: 100%;
    }

    @media only screen and (max-width: $breakpoint-xs){
      border: none;
    }
  }

  @media only screen and (max-width: $breakpoint-xs){
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 24px;
  }
}