.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000000;
  opacity: 0.79;
  display: none;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: $popup-backdrop-background-color;
  opacity: 0.94;
  display: none;
}

.no-transform {
  @include transform(none !important);
}

.b-money {
  &--reward {
    background: url('#{$image-path}/money_big@2x.png') no-repeat center center transparent;
    border: 0 solid #ff9800;
    text-shadow: 0 0 4px #ff9d1a;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    width: 90px;
    height: 46px;
    @include rem(15);
    padding-left: 1px;
    padding-top: 14px;
    background-size: 100% auto;
    margin-bottom: 4px;
  }
}

