.form-control {
  @include border-radius(18px);
  border: 1px solid $input-border-color;
  background-color: $input-background-color;
  padding: 0.3rem 0.5rem;
  background-clip: padding-box;
  @include rem(13);
  color: $input-color;
  width: 100%;

  &--search {
    padding-left: 34px;
    max-width: 128px;

    @media only screen and (max-width: $breakpoint-md){
      display: none;
    }

    &-wrapper {
      position: relative;
    }

    &-icon {
      background-image: url('#{$image-path}/icons.svg');
      background-position: 0 -377px;
      background-repeat: no-repeat;
      position: absolute;
      width: 16px;
      height: 18px;
      top: 3px;
      left: 8px;

      @media only screen and (max-width: $breakpoint-md){
        top: -8px;
        left: 12px;
        background-position: 0 -536px;
      }
    }
  }

  &--file {
    height: 36px;
    border-radius: 20px;
    border: 1px solid $button-blue-border-color;
    background-color: $button-blue-background-color-1;
    color: #ffffff;
    @include rem(13);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 23px;

    @media only screen and (max-width: $breakpoint-xs){
      @include rem(12);
      font-weight: 400;
      padding: 0 14px;
    }
  }
}

.form-control--file-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
