.button--language {
  &:before {
    content: "";
    background-image: url('#{$image-path}/icons.svg');
    background-position: 0 -359px;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    left: 9px;
    @include translate(0, -50%);
  }

  &-rus {
    &:before {
      background-position: 0 -359px;
    }
  }

  &-kaz {
    &:before {
      background-position: 0 -166px;
    }
  }

  &-ua {
    &:before {
      background-position: 0 -425px;
    }
  }

  & .language-choice {
    display: none;
    list-style: none;
    position: absolute;
    left: 100%;
    top: 50%;
    @include translate(0, -50%);
    padding: 0;
    margin: 0;

    &--item {
      width: 18px;
      height: 18px;
      position: relative;
      font-size: 0;
      margin-left: 12px;

      &:before {
        content: "";
        background-image: url('#{$image-path}/icons.svg');
        background-position: 0 -359px;
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        background-repeat: no-repeat;
        left: 0;
      }

      &-rus {
        &:before {
          background-position: 0 -359px;
        }
      }

      &-kaz {
        &:before {
          background-position: 0 -166px;
        }
      }

      &-ua {
        &:before {
          background-position: 0 -425px;
        }
      }
    }
  }

  &:hover {
    & .language-choice {
      @include flexbox();
      @include align-items(center);
    }
  }
}