.b-menu {
  &--wrapper {
    & .b-menu {
      &:first-child {
        margin-bottom: 8px;
      }
    }
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include flexbox();
    min-height: $menu-height;
    @include box-shadow(0 2px 4px $menu-box-shadow-color);
    border-top: 1px solid $menu-border-color;
    border-right: 1px solid $menu-border-color;
    border-bottom: 1px solid $menu-border-color;
    background-color: $menu-background-color;
    @include align-items(center);
    @include justify-content(space-between);

    @media only screen and (max-width: $breakpoint-md){
      min-height: $menu-height-md;
    }

    &--link {
      color: #ffffff;
      @include rem(15);
      font-weight: 500;
      line-height: 15px;
      text-transform: capitalize;
      text-decoration: none;
      height: 100%;
      width: 100%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      @media only screen and (max-width: $breakpoint-md){
        @include rem(13);
      }

      @media only screen and (max-width: $breakpoint-xs){
        @include rem(14);
      }

      &:hover {
        background-color: $menu-current-background-color;
      }
    }

    &--current {
      @include rem(15);
      font-weight: 500;
      line-height: 15px;
      text-transform: capitalize;
      height: 100%;
      width: 100%;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      background-color: $menu-current-background-color;

      @media only screen and (max-width: $breakpoint-md){
        @include rem(13);
      }

      @media only screen and (max-width: $breakpoint-xs){
        @include rem(14);
      }
    }

    &--item {
      @include flex-direction(row);
      position: relative;
      color: #ffffff;
      height: $menu-height;
      @include flexbox();
      @include align-items(center);
      border-right: 1px solid $menu-item-border-right-color;
      border-left: 1px solid $menu-item-border-left-color;
      text-align: center;
      flex-basis: 0;
      flex-grow: 1;

      @media only screen and (max-width: $breakpoint-md){
        height: $menu-height-md;
      }

      @media only screen and (max-width: $breakpoint-xs){
        height: $menu-height-xs;
        width: auto;
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      &-new {
        &:before {
          content: "";
          background-image: url('#{$image-path}/icons.svg');
          background-position: 0 -273px;
          width: 28px;
          height: 29px;
          background-repeat: no-repeat;
          margin-right: 12px;
          position: relative;

          @media only screen and (max-width: $breakpoint-md){
            @include scale(0.7);
            margin-right: 6px;
          }

          @media only screen and (max-width: $breakpoint-xs){
            display: none;
          }
        }
      }

      &-slots {
        &:before {
          content: "";
          background-image: url('#{$image-path}/icons.svg');
          background-position: 0 -395px;
          width: 30px;
          height: 29px;
          background-repeat: no-repeat;
          margin-right: 12px;
          position: relative;

          @media only screen and (max-width: $breakpoint-md){
            @include scale(0.7);
            margin-right: 7px;
          }

          @media only screen and (max-width: $breakpoint-xs){
            display: none;
          }
        }
      }

      &-rulets {
        &:before {
          content: "";
          background-image: url('#{$image-path}/icons.svg');
          background-position: 0 -329px;
          width: 30px;
          height: 29px;
          background-repeat: no-repeat;
          margin-right: 12px;
          position: relative;

          @media only screen and (max-width: $breakpoint-md){
            @include scale(0.7);
            margin-right: 4px;
          }

          @media only screen and (max-width: $breakpoint-xs){
            display: none;
          }
        }
      }

      &-carts {
        &:before {
          content: "";
          background-image: url('#{$image-path}/icons.svg');
          background-position: 0 -59px;
          width: 40px;
          height: 29px;
          background-repeat: no-repeat;
          margin-right: 12px;
          position: relative;

          @media only screen and (max-width: $breakpoint-md){
            @include scale(0.7);
            margin-right: 3px;
          }

          @media only screen and (max-width: $breakpoint-xs){
            display: none;
          }
        }
      }

      &-live {
        & .b-menu-list--link {
          &:before {
            content: "";
            background-image: url('#{$image-path}/icons.svg');
            background-position: 0 -184px;
            width: 34px;
            height: 29px;
            background-repeat: no-repeat;
            margin-right: 12px;
            position: relative;

            @media only screen and (max-width: $breakpoint-md){
              @include scale(0.7);
              margin-right: 0;
            }

            @media only screen and (max-width: $breakpoint-xs){
              display: none;
            }
          }
        }
      }

      &-profile {
         &:before {
           content: "";
           background-image: url('#{$image-path}/icons.svg');
           background-position: 0 -303px;
           width: 28px;
           height: 26px;
           background-repeat: no-repeat;
           margin-right: 12px;
           position: relative;

           @media only screen and (max-width: $breakpoint-md){
             @include scale(0.7);
             margin-right: 3px;
           }

           @media only screen and (max-width: $breakpoint-xs){
             //display: none;
           }
         }
       }

      &-cashier {
        &:before {
          content: "";
          background-image: url('#{$image-path}/icons.svg');
          background-position: 0 -214px;
          width: 30px;
          height: 24px;
          background-repeat: no-repeat;
          margin-right: 12px;
          position: relative;

          @media only screen and (max-width: $breakpoint-md){
            @include scale(0.7);
            margin-right: 3px;
          }

          @media only screen and (max-width: $breakpoint-xs){
            //display: none;
          }
        }
      }

      &-gifts {
        &:before {
          content: "";
          background-image: url('#{$image-path}/icons.svg');
          background-position: 0 -143px;
          width: 26px;
          height: 23px;
          background-repeat: no-repeat;
          margin-right: 12px;
          position: relative;

          @media only screen and (max-width: $breakpoint-md){
            @include scale(0.7);
            margin-right: 3px;
          }

          @media only screen and (max-width: $breakpoint-xs){
           // display: none;
          }
        }
      }

      &-search {
        @media only screen and (max-width: $breakpoint-md){
          max-width: 38px;
        }

        @media only screen and (max-width: $breakpoint-xs){
          display: none;
        }
      }

      & .form-control--search-wrapper {
        margin-left: 27px;

        @media only screen and (max-width: $breakpoint-xl){
          margin-left: 20px;
          margin-right: 7px;
        }

        @media only screen and (max-width: $breakpoint-md){
          margin-left: 0;
        }
      }
    }

    &--item-live{
      @media only screen and (max-width: $breakpoint-xs){
        white-space: nowrap;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        padding: 0 10px;
      }
    }
  }

  &--personal {
    & .b-menu-list {
      @include box-shadow(none);
      @include justify-content(flex-start);
      padding-left: 16.4%;

      @media only screen and (max-width: $breakpoint-lg){
        padding-left: 0;
        min-height: 38px;
      }

      @media only screen and (max-width: 745px){
        @include justify-content(center);
      }

      &--item{
        flex: 0 0 auto;
        min-width: 20.1%;

        @media only screen and (max-width: $breakpoint-lg){
          min-width: 160px;
          height: 38px;
        }

        @media only screen and (max-width: 745px){
          min-width: 105px;
        }

        &:last-child {
          border-right: 1px solid $menu-item-border-right-color;

          &:before{
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            right: 0;
            top: 0;
            background-color: $menu-item-border-left-color;
          }
        }

        &:first-child {
          border-left: 1px solid $menu-item-border-left-color;

          &:before{
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: $menu-item-border-right-color;
          }

          @media only screen and (max-width: $breakpoint-lg){
            border-left: none;
            &:before{
              display: none;
            }
          }

          @media only screen and (max-width: 745px){
            border-left: 1px solid $menu-item-border-left-color;

            &:before{
              display: block;
            }
          }
        }
      }
    }
  }
}


