.b-personal-information {
  padding-bottom: 32px;
  padding-left: 44px;
  padding-top: 44px;

  @media only screen and (max-width: $breakpoint-xl){
    padding-left: 30px;
    padding-top: 30px;
  }

  @media only screen and (max-width: $breakpoint-lg){
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
  }

  &--content {
    @include box-shadow(0 0 4px #232f54);
    border-radius: 6px;
    border: 2px solid $profile-border-color;
    background-color: $profile-background-color;
    max-width: 850px;

    &.content-cashier{
      max-width: 784px;

      @media only screen and (max-width: $breakpoint-lg){
        max-width: 572px;
      }
    }

  }
}