.b-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;

  overflow-x: hidden;
  overflow-y: auto;

  &--wrapper {
    max-width: 750px;
    margin: 1.75rem auto;
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    min-height: calc(100% - (1.75rem * 2));
  }

  &--content {
    background-color: $popup-background-color;
    box-shadow: 0 0 20px #2a262b;

    margin: 0 15px;
    display: flex;
    flex-direction: column;
    position: relative;

    & .row {
      margin: 0;

      @media only screen and (max-width: $breakpoint-xs){
        height: 100%;
        align-content: space-between;
      }
    }

    @media only screen and (max-width: $breakpoint-xs){
      height: calc(100vh - (1.75rem * 2));
      background-color: transparent;
      box-shadow: none;
    }
  }

  &--header {
    color: $popup-orange-color;
    @include rem(28);
    font-weight: 700;
    padding-bottom: 35px;

    @media only screen and (max-width: $breakpoint-xs){
      @include rem(18);
      padding-bottom: 16px;
    }
  }

  &--form {
    &-group {
      margin-bottom: 30px;

      @media only screen and (max-width: $breakpoint-xs){
        margin-bottom: 14px;
        padding-right: 34px;
      }
    }

    &-agree {
      margin-top: 72px;

      @media only screen and (max-width: $breakpoint-xs){
        margin-top: 20px;
        margin-bottom: 20px;

        label{
          @include rem(12);
        }
      }
    }

    &-label {
      display: inline-block;
      color: #ffffff;
      @include rem(14);
      font-weight: 400;
      margin-bottom: 14px;
      padding: 0 24px;

      @media only screen and (max-width: $breakpoint-xs){
        @include rem(12);
        margin-bottom: 9px;
        padding: 0 12px;
      }
    }

    &-input {
      border: none;
      width: 100%;
      height: 60px;
      border-radius: 30px;
      background-color: $popup-input-background-color;
      color: $popup-input-color;
      font-weight: 400;
      padding: 0 24px;

      @media only screen and (max-width: $breakpoint-xs){
        height: 30px;
      }
    }
  }

  &--main {
    padding-top: 48px;
    padding-left: 60px;
    padding-right: 218px;
    padding-bottom: 149px;
    border-radius: 8px;
    border: 2px solid $popup-orange-color;
    position: relative;

    .b-popup--content-last-step & {

    }

    @media only screen and (max-width: $breakpoint-xs){
      padding-top: 24px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
      background-color: #323d62;
      box-shadow: 0 0 20px #2a262b;
    }
  }

  &--dog {
    &-1 {
      position: absolute;
      z-index: 1;
      right: 19px;
      bottom: 23px;

      @media only screen and (max-width: $breakpoint-xs){
        width: 103px;
        height: 76px;
        right: 12px;
        bottom: 0;
        margin-left: auto;
        position: relative;

        img{
          width: 100%;
        }
      }
    }

    &-2 {
      position: absolute;
      z-index: 1;
      right: 17px;
      bottom: 32px;

      @media only screen and (max-width: $breakpoint-xs){
        display: none;
      }
    }

    &-3 {
      position: absolute;
      z-index: 1;
      right: 119px;
      bottom: 14px;

      @media only screen and (max-width: $breakpoint-xs){
        width: 68px;
        height: 83px;
        right: 12px;
        bottom: 0;
        margin-left: auto;
        position: relative;

        img{
          width: 100%;
        }
      }
    }
  }

  &--pagination {
    border-radius: 0 8px 8px 0;
    background-color: $popup-pagination-background-color;
    width: 159px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;

    @media only screen and (max-width: $breakpoint-xs){
      position: relative;
      background-color: transparent;
      flex: 0 0 100%;
    }
  }

  &--steps {
    &-item {
      border-radius: 50%;
      position: relative;
      width: 60px;
      height: 60px;
      border: 2px solid $popup-orange-color;
      color: #ffffff;
      font-family: $lato-font-family;
      @include rem(25);
      font-weight: 400;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      &--active {
        background-color: $popup-step-background-color;
      }

      @media only screen and (max-width: $breakpoint-xs){
        width: 48px;
        height: 48px;
      }
    }

    &-position {
      & .b-popup--steps-item {
        margin-bottom: 52px;

        @media only screen and (max-width: $breakpoint-xs){
          margin-bottom: 0;
          margin-right: 30px;
        }

        &:before {
          content: "";
          width: 1px;
          height: 54px;
          border: 2px solid $popup-orange-color;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100%);

          @media only screen and (max-width: $breakpoint-xs){
            width: 32px;
            height: 2px;
            border: 1px solid $popup-orange-color;
            bottom: 50%;
            left: 100%;
            transform: translate(0%, 100%);
          }
        }

        &:last-child {
          margin-bottom: 0;

          @media only screen and (max-width: $breakpoint-xs){
            margin-right: 0;
          }

          &:before {
            display: none;
          }
        }
      }

      @media only screen and (max-width: $breakpoint-xs){
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }

  & .button--next {
     width: auto;
     padding: 0 14px;
     position: absolute;
     left: 117px;
     bottom: 61px;

    @media only screen and (max-width: $breakpoint-xs){
      bottom: 16px;
      left: 16px;
    }
   }

  & .button--registration {
    width: auto;
    padding: 0 14px;
    position: absolute;
    left: 60px;
    bottom: 58px;

    @media only screen and (max-width: $breakpoint-xs){
      position: relative;
      left: 0;
      bottom: 0;
    }
  }

  & .form-control--file-wrapper {
    margin-top: 43px;

    @media only screen and (max-width: $breakpoint-xs){
      margin-top: 10px;
    }
  }

  &--content-second-step {
    @media only screen and (max-width: $breakpoint-xs){
      .button--next{
        position: relative;
        left: 0;
        bottom: 0;
      }
    }
  }

  &--content-last-step {
    @media only screen and (max-width: $breakpoint-xs){
      &.b-popup--content .row{
        position: relative;
        align-items: center;
        height: 100%;
        align-content: center;
        min-height: 420px;
      }

      .b-popup--pagination{
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 80px;
        top: auto;
      }
    }
  }

  &--close{
    display: none;

    @media only screen and (max-width: $breakpoint-xs){
      display: block;
      width: 32px;
      height: 32px;
      background-color: #5761ab;
      border-radius: 50%;
      position: absolute;
      right: 16px;
      top: 16px;
      cursor: pointer;
    }
  }
}

