.b-profile {
  & .row {
    margin-left: 0;
    margin-right: 0;
  }

  &--summary {
    padding-left: 30px;
    padding-right: 36px;
    padding-top: 22px;
    padding-bottom: 15px;
    max-width: 359px;
    border-right: 1px solid $table-border-color-2;
    background-color: rgba(72, 93, 148, 0.34);

    @media only screen and (max-width: $breakpoint-lg){
      padding-left: 16px;
      padding-right: 16px;
    }

    @media only screen and (max-width: $breakpoint-sm){
      max-width: 100%;
      flex: 0 0 100%;
    }

    &-table {
      width: 100%;

      & td {
        @include rem(14);
        line-height: 14px;
        color: #ffffff;
        padding-bottom: 7px;

        &:first-child {
          @include rem(14);
          color: $profile-color;
          line-height: 14px;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }

  &--general {
    padding-top: 22px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    border-left: 1px solid $table-border-color;

    @media only screen and (max-width: $breakpoint-lg){
      padding-left: 16px;
      padding-right: 16px;
      @include flexbox();
      @include flex-wrap(wrap);
      position: relative;

    }

    &-status {
      @include rem(14);
      line-height: 14px;
      color: #ffffff;
      @include flexbox();
      padding-bottom: 10px;

      @media only screen and (max-width: $breakpoint-lg){
        padding-right: 95px;
      }

      @media only screen and (max-width: $breakpoint-sm){
        @include flex-grow(1);
        @include flex-basis(0);
        max-width: 100%;
        padding-right: 0;
        @include flex-flow(column);
        margin-bottom: 5px;
      }

      &--wrapper {
        display: inline-block;
        padding-bottom: 21px;

        @media only screen and (max-width: $breakpoint-lg){
          @include order(2);
          width: 100%;
          padding-bottom: 3px;
        }

        @media only screen and (max-width: $breakpoint-sm){
          @include order(1);
          display: flex;
        }
      }

      &--title {
        color: $profile-color;
        padding-right: 5px;

        @media only screen and (max-width: $breakpoint-sm){
          margin-bottom: 10px;
        }
      }
    }

    &-verdict {
      color: #ffffff;
      font-weight: 700;
      line-height: 12px;
      display: inline-block;

      @media only screen and (max-width: $breakpoint-lg){
        @include order(3);
        width: 100%;
        padding-right: 95px;
      }
    }

    &-image {
      float: right;
      display: inline-block;
      vertical-align: top;
      margin-top: -38px;

      @media only screen and (max-width: $breakpoint-lg){
        @include order(4);
        width: 96px;
        height: 71px;
        right: 12px;
        position: absolute;
        margin-top: 0;
        bottom: 22px;

        img{
          width: 100%;
        }
      }

      @media only screen and (max-width: $breakpoint-sm){
        display: none;
      }
    }

    &-progress-wrapper {
      float: right;
      display: inline-block;
      vertical-align: top;

      @media only screen and (max-width: $breakpoint-lg){
        @include order(1);
        float: none;
        width: 100%;
        padding-left: 21px;
        margin-bottom: 36px;
      }

      @media only screen and (max-width: $breakpoint-sm){
        @include order(2);
        @include flexbox();
        @include justify-content(center);
      }
    }
  }

  & .b-progress {
    width: 194px;
    overflow: visible;

    &:before {
      content: '';
      position: absolute;
      background-image: url('#{$image-path}/icons.svg');
      background-position: 0 -576px;
      background-repeat: no-repeat;
      width: 18px;
      height: 18px;
      top: -3px;
      left: -26px;
    }

    &:after {
      content: '';
      position: absolute;
      background-image: url('#{$image-path}/icons.svg');
      background-position: 0 -594px;
      background-repeat: no-repeat;
      width: 11px;
      height: 18px;
      top: -3px;
      right: -19px;
    }
  }

  &--promo {
    min-height: 86px;
    background-image: url('#{$image-path}/b-profile--promo-background@2x.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-around);
    padding: 0 12px;

    @media only screen and (max-width: $breakpoint-lg){
      @include justify-content(space-between);
    }

    @media only screen and (max-width: $breakpoint-sm){
      @include flex-wrap(wrap);
      padding-top: 10px;
      padding-bottom: 24px;
    }

    &-section-1{
      @include flexbox();
      @include align-items(center);

      @media only screen and (max-width: $breakpoint-lg){
        @include justify-content(center);

      }

      @media only screen and (max-width: $breakpoint-sm){
        @include justify-content(center);
        width: 100%;
        margin-bottom: 6px;
      }
    }

    & .button {
      max-width: 130px;
    }

    &-text {
      color: #ffffff;
      @include rem(14);
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      white-space: nowrap;
      flex: 0 0 auto;
      padding-right: 10px;

      @media only screen and (max-width: $breakpoint-lg){
        padding-right: 0;
        margin-bottom: 8px;

        &.text-1{
          max-width: 60px;
          white-space: normal;
          text-align: center;
        }
      }

      @media only screen and (max-width: $breakpoint-sm){
        &.text-1{
          max-width: 100%;
          white-space: normal;
          text-align: left;
          padding-left: 30px;
        }
      }
    }

    &-rate {
      height: 34px;
      border-radius: 22px;
      background-color: #484985;
      color: #ffffff;
      font-weight: 700;
      line-height: 14px;
      padding: 0 14px;
      display: inline-flex;
      @include align-items(center);

      @media only screen and (max-width: $breakpoint-lg){
        @include rem(13);
        min-height: 45px;
        height: auto;
        @include flex-wrap(wrap);
        @include justify-content(center);
        @include align-content(center);
        max-width: 190px;
      }

      @media only screen and (max-width: $breakpoint-sm){
        max-width: 100%;
        width: 100%;
        font-weight: 400;
        min-height: 34px;
        height: 34px;
        margin-bottom: 22px;
      }
    }

    &-section-2{
      @include flexbox();
      @include align-items(center);

      @media only screen and (max-width: $breakpoint-lg){
        display: block;
      }

      @media only screen and (max-width: $breakpoint-sm){
        width: 100%;
        text-align: center;
      }
    }
  }

  &--form {
    padding-top: 26px;
    border-bottom: 1px solid #435077;

    &-group {
      margin-bottom: 17px;
      position: relative;

      &--margin-56 {
        margin-bottom: 56px;

        @media only screen and (max-width: $breakpoint-lg){
          margin-bottom: 22px;
        }
      }

      &--margin-38 {
        margin-bottom: 38px;

        @media only screen and (max-width: $breakpoint-lg){
          margin-bottom: 22px;

        }
      }

      &--line {
        margin-bottom: 10px;
      }

      &--radio {
        & .b-profile--form-label {
          padding: 0;
          color: #ffffff;
          margin-bottom: 14px;
          padding-top: 5px;
        }
      }

      &--group-1{
        @media only screen and (max-width: $breakpoint-lg){
          margin-bottom: 52px;
        }

        @media only screen and (max-width: $breakpoint-sm){
          margin-bottom: 17px;
        }
      }

      &--group-2{
        @media only screen and (max-width: $breakpoint-lg){
          margin-bottom: 32px;
        }

        @media only screen and (max-width: $breakpoint-sm){
          margin-bottom: 17px;
        }
      }
    }

    &-label {
      color: $placeholder-color;
      @include rem(13);
      font-weight: 400;
      margin-bottom: 6px;
      padding: 0 0.5rem;

      &--custom {
        color: #ffffff;
        margin-bottom: 14px;
      }
    }

    &-confirmed {
      position: absolute;
      left: 100%;
      bottom: 1px;
      margin-left: 45px;

      @media only screen and (max-width: $breakpoint-lg){
        position: relative;
        left: 0;
        margin-left: 0;
        padding-top: 12px;
        margin-bottom: 22px;
      }
    }

    & .button--file {
      width: 130px;
    }

    .p-sm-0{
      @media only screen and (max-width: $breakpoint-sm){
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &--invite {
    min-height: 75px;
    box-shadow: 0 2px 4px #1b2541;
    border-radius: 6px;
    border: 1px solid #9396fa;
    background-color: #595ba4;
    @include flexbox();
    @include flex-flow(column);
    @include justify-content(center);

    @media only screen and (max-width: $breakpoint-lg){
      max-width: 455px;
      padding-top: 15px;
      padding-bottom: 10px;
    }

    &-line {
      @include flexbox();
      @include align-items(center);
      @include justify-content(space-between);
      padding: 0 12px;

      @media only screen and (max-width: $breakpoint-lg){
        @include flex-wrap(wrap);

        section{
          width: 100%;
          text-align: center;
        }
      }
    }

    &-wrapper {
      padding-top: 28px;
      padding-left: 19px;
      padding-right: 19px;
      padding-bottom: 32px;
      border-top: 1px solid #1c2748;

      @media only screen and (max-width: $breakpoint-lg){
        padding-top: 14px;
        padding-bottom: 18px;
      }

      @media only screen and (max-width: $breakpoint-sm){
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    &-copy-link {
      @include rem(13);
      height: 34px;
      border-radius: 16px;
      background-color: #484985;
      color: #ffffff;
      font-weight: 400;
      line-height: 14px;
      padding: 0 14px;
      display: inline-flex;
      @include align-items(center);

      @media only screen and (max-width: $breakpoint-lg){
        width: 100%;
        max-width: 370px;
        margin: 0 auto 19px;
      }

      @media only screen and (max-width: $breakpoint-sm){
        @include rem(12);
        letter-spacing: -.4px;
        padding: 0 10px;
      }
    }

    &-link {
      color: #768ed3;
      @include rem(12);
      font-weight: 400;
      text-decoration: underline;

      @media only screen and (max-width: $breakpoint-lg){
        margin-bottom: 20px;
        display: inline-block;
      }
    }

    &-text {
      color: #ffffff;
      font-size: 1rem;
      font-weight: 700;
      line-height: 21px;

      @media only screen and (max-width: $breakpoint-lg){
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
      }
    }

    & .button--promo-copy {
      width: 80px;

      @media only screen and (max-width: $breakpoint-lg){
        margin: 0 auto 10px;
      }

    }
  }

  &--color {
    color: $profile-yellow;
  }

  & .b-money--reward {
    width: 103px;
    height: 56px;
    font-size: 1rem;
    padding-top: 19px;
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    color: #ffffff;
    @include rem(13);
    font-size: 13px;
    font-weight: 400;
    padding-left: 25px;
  }

  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: $input-background-color;
    border: none;
  }

  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    transition: all .2s;
    background-image: url('#{$image-path}/icons.svg');
    background-position: 0 -89px;
    background-repeat: no-repeat;
    width: 14px;
    height: 10px;
    top: 1px;
    left: 4px;
  }

  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    background-color: #37b98b;
  }
}


