.b-progress {
  overflow: hidden;
  width: 100%;
  height: $progress-bar-height;
  border-radius: $progress-bar-border-radius;
  background-color: $progress-bar-background-color;
  position: relative;

  &--bar {
    float: left;
    width: 0;
    height: 100%;
    text-align: center;
    height: $progress-bar-height;
    border-radius: $progress-bar-border-radius;
    @include linear-gradient(to right, #3ed7a3 0%, #35b084 100%);
    @include rem(10);
    font-weight: 400;
    letter-spacing: 0.19px;
    color: #ffffff;
  }
}