.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border: 1px solid $input-border-color;
  @include border-radius(18px);
  border: 1px solid $input-border-color;
  background-color: $input-background-color;
  padding: 0.3rem 0.5rem;
  background-clip: padding-box;
  @include rem(13);
  color: $input-color;
  width: 100%;
  height: 26px;
  border-radius: 18px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $input-background-color;
  padding: 0.3rem 0.5rem;
  border-radius: 18px;

  &:after {
    content: '';
    position: absolute;
    background-image: url('#{$image-path}/icons.svg');
    background-position: 0 -612px;
    background-repeat: no-repeat;
    width: 14px;
    height: 9px;
    top: 7px;
    right: 7px;
    @include rotate(-270);
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 5px;
  left: -10px;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $input-background-color;
  border: 1px solid $input-border-color;
  right: 10px;
  border-radius: 6px;

  li {
    margin: 0;
    padding: 5px 0;
    text-indent: 15px;
    @include transition(all 0.15s ease-in);

    &:hover {
      background: darken($input-background-color, 5);
    }
    &[rel="hide"] {
      display: none;
    }
  }
}