.b-sidebar {
  background-color: $sidebar-background-color;
  order: -1;
  z-index: 11;
  width: 0;
  max-width: var(--sidebar-width);

  &--wrapper {
    @include align-self(flex-start);
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 1;
    left: 0;
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    background-color: $sidebar-background-color;
    padding-bottom: 134px;

    @media only screen and (max-width: $breakpoint-lg){
      position: relative;
      padding-bottom: 0;
    }

    @media only screen and (max-width: $breakpoint-xs){
      width: var(--sidebar-popup-width);
      max-width: var(--sidebar-popup-width);
      @include translate(-100%, 0);
      transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

      bottom: 0;
      top: 0;
      overflow-x: auto;
      overflow-y: visible;
      position: fixed;
      padding-bottom: 0;
    }
  }

  &--logo {
    &-mobile {
      display: none;

      @media only screen and (max-width: $breakpoint-xs){
        display: block;
        height: $sidebar-popup-top-block-height;
      }
    }

    &-main {
      display: block;

      @media only screen and (max-width: $breakpoint-xs){
        display: none;
      }
    }
  }

  &--top {
    width: 100%;
    height: 120px;
    @include linear-gradient(180deg, #546eac 0%, #383566 100%);
    position: relative;
    text-align: center;
    @include flexbox();
    @include justify-content(center);

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background: url('#{$image-path}/logo-background.svg') no-repeat 8px 9px transparent;
    }

    &-info {
      position: relative;
      z-index: 1;
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
    }

    @media only screen and (max-width: $breakpoint-xs){
      height: $sidebar-popup-top-block-height;

      &:before {
        background-position: 8px -55px;
      }
    }
  }

  &__admin-panel {

    & .button--create-account {
      margin-top: 42px;
      margin-bottom: 39px;
      min-width: 130px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
    & .button--login {
      min-width: 130px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }

    & .button--for-money {
      margin-bottom: 30px;
      margin-top: 19px;
      min-width: 130px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }

    & .button--exchange {
      margin-bottom: 8px;
      min-width: 130px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }

    & .button--cashbox {
      margin-bottom: 12px;
      min-width: 130px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }


    &--account {
      @include flexbox();
      @include justify-content(center);
      position: relative;
      padding-left: 16px;
      padding-right: 16px;
      @include menu-border();
      @include flex-wrap(wrap);

      &-person {
        color: #ffffff;
        @include flexbox();

        &--avatar {
          width: 27px;
          height: 27px;
          min-width: 27px;
          margin-right: 9px;
        }

        &--info {
          @include flexbox();
          @include flex-flow(column);
          padding-bottom: 5px;
          text-align: left;
        }

        &--wrapper {
          padding-top: 26px;
          padding-bottom: 13px;
          text-align: center;
        }

        &--name {
          font-family: $ag-font-family;
          @include rem(14);
          text-align: center;
          line-height: 14px;
          text-transform: uppercase;
        }
        &--text {
          @include rem(12);
          line-height: 12px;
        }
      }
    }

    &--info {
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: center;
      @include menu-border();
    }

    &--login-form {
      padding-top: 62px;
      padding-bottom: 65px;
      width: 130px;
      margin-left: auto;
      margin-right: auto;

      & .form-control {
        margin-bottom: 18px;
      }
    }

    &--menu {
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 20px;
      padding-bottom: 14px;
      text-align: center;
      background-color: $sidebar-background-color;

      & .button {
        margin-bottom: 8px;
        min-width: 130px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
      }
    }

    & .button, input {
      //display: inline-flex;
      //justify-content: center;
      //align-items: center;
      //min-width: 132px;
      //width: auto;
      //margin-left: auto;
      //margin-right: auto;
    }
  }

  &--table {
    text-align: center;
    .b-table {
      width: 100%;
      border-bottom: 1px solid $table-border-color;
      text-align: left;

      & td {
        &:after {
          border-right-color: $table-border-color-3;
          border-left: 1px solid $table-header-border-color;
        }
      }

      &--name {
        width: 108px;
        padding-left: 8px;
        padding-right: 8px;
      }

      &--money {
        width: 54px;
        padding-right: 8px;
        padding-left: 8px;

        @media only screen and (max-width: $breakpoint-xs){
          text-align: left;
        }
      }

      &--avatar {
        margin-right: 4px;
      }

      & tr{

        @media only screen and (max-width: $breakpoint-xs){
          display: none;

          &.m-visible{
            display: table-row;
          }
        }

      }
    }

    .button--more{
      display: none;
      min-width: 130px;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      margin-top: 21px;
      margin-bottom: 8px;

      @media only screen and (max-width: $breakpoint-xs){
        display: inline-flex;
      }
    }
  }

  &--statistic {
    padding: 11px 8px 27px 8px;
    background: url('#{$image-path}/statistic_background.svg') no-repeat center 14px transparent;

    &-game {
      border-radius: $sidebar-game-border-radius;
      border: 1px solid $sidebar-statistic-border-color;

      &--top {
        background: -webkit-linear-gradient(340deg, rgb(106, 120, 209) 0%, rgb(126, 100, 191) 47%, rgb(186, 85, 192) 87%, rgb(201, 81, 192) 100%);
        background: -o-linear-gradient(340deg, rgb(106, 120, 209) 0%, rgb(126, 100, 191) 47%, rgb(186, 85, 192) 87%, rgb(201, 81, 192) 100%);
        background: -ms-linear-gradient(340deg, rgb(106, 120, 209) 0%, rgb(126, 100, 191) 47%, rgb(186, 85, 192) 87%, rgb(201, 81, 192) 100%);
        background: -moz-linear-gradient(340deg, rgb(106, 120, 209) 0%, rgb(126, 100, 191) 47%, rgb(186, 85, 192) 87%, rgb(201, 81, 192) 100%);
        background: linear-gradient(110deg, rgb(106, 120, 209) 0%, rgb(126, 100, 191) 47%, rgb(186, 85, 192) 87%, rgb(201, 81, 192) 100%);
        @include box-shadow(0 2px 4px #1e2947);
        color: #ffffff;
        @include rem(14);
        font-weight: 700;
        line-height: 14px;
        min-height: 43px;
        text-align: center;
        border-top-left-radius: $sidebar-game-border-radius;
        border-top-right-radius: $sidebar-game-border-radius;
        padding-top: 9px;
      }

      &--image {
        width: 100%;

        &-wrapper {
          line-height: 0;
        }
      }

      @media only screen and (max-width: $breakpoint-xs){
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    & .b-sidebar--badge {
      margin-bottom: 9px;

      @media only screen and (max-width: $breakpoint-xs){
        margin-bottom: 15px;
      }
    }

    .b-sidebar--badge--text-value {
      padding-top: 0;
    }

    .e-line{
      display: none;

      @media only screen and (max-width: $breakpoint-xs){
        display: block;
        width: auto;
        margin-left: -8px;
        margin-right: -8px;
        height: 1px;
        background-color: #435077;
        margin-bottom: 17px;
      }
    }
  }

  &--badge {
    @include box-shadow(0 0 4px $sidebar-badge-box-shadow-color);
    border-radius: 6px;
    border: 2px solid $sidebar-statistic-border-color;
    background-color: $sidebar-badge-background-color;
    @include flexbox();
    @include align-items(center);
    text-align: center;
    padding: 2px 5px;

    @media only screen and (max-width: $breakpoint-xs){
      max-width: 150px;
      margin-left: auto;
      margin-right: auto;
    }

    &--image {
      width: 38px;
      height: 38px;
      @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
      border-radius: 50%;
      background-color: #7072d8;
      background-image: radial-gradient(50% 0%, #7181df 24%, #6e51c9 100%);
      position: relative;
      margin-right: 5px;

      &:before {
        content: "";
        background-image: url('#{$image-path}/icons.svg');
        background-position: 0 -238px;
        background-repeat: no-repeat;
        position: absolute;
        width: 38px;
        height: 17px;
        top: 50%;
        left: 50%;
        @include translate(-50%,-50%);
      }
    }

    &--text {
      color: #ffffff;
      @include rem(14);
      font-weight: 500;
      line-height: 17px;
      letter-spacing: -0.2px;
      padding: 1px 1px 3px 1px;

      &-value {
        color: $yellow;
        padding-top: 3px;
      }
    }
  }

  &--promo {
    &-wrapper {
      padding-top: 9px;
      padding-bottom: 9px;
      margin-bottom: 5px;
    }

    &-info {
      min-height: 150px;
      width: 128px;
      border-radius: 6px;
      position: relative;
      @include flexbox();
     // @include align-items(center);
      @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
      border: 1px solid $banner-border-color;
      background-image: linear-gradient(to top, #40457a 0%, #606cbf 100%);
      left: 50%;
      @include translate(-50%, 0);

      &:before {
        content: "";
        background: url(#{$image-path}/banner_background@2x_2.png) no-repeat center center transparent;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0.3;
      }

      &--received {
        & .b-money--reward {
          margin-top: 12px;
        }

        & .b-sidebar--badge {
          margin-bottom: 12px;
        }
      }

      &--registration {
        padding: 8px;
        margin-top: 5px;
        margin-bottom: 5px;

        & .b-progress {
          margin-bottom: 16px;
        }

        & .button--add-money {
          margin-bottom: 15px;
        }

        & .b-sidebar--badge {
          padding: 8px 0;
        }

        & .button--exchange-money {
          margin-top: 12px;
        }
      }
    }

    &-content {
      z-index: 2;
      position: relative;
      @include flexbox();
      @include flex-flow(wrap);
      @include justify-content(center);
    }

    &-text {
      color: #ffffff;
      font-weight: 500;
      @include rem(14);
      text-align: center;
      line-height: 18px;
      margin-bottom: 8px;
    }
  }

  &--status {
    &-item {
      position: relative;
      color: #ffffff;
      @include rem(12);
      font-weight: 400;
      line-height: 12px;
      padding-left: 24px;
      margin-bottom: 14px;

      &:before {
        content: "";
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        position: absolute;
        background-image: url('#{$image-path}/icons.svg');
        left: 0;
      }

      &--person {
        &:before {
          background-position: 0 -43px;
        }
      }

      &--money {
        &:before {
          background-position: 0 -27px;
        }
      }

    }
  }

  &--mobile {
    height: $sidebar-mobile-height;
    @include linear-gradient(180deg, #546eac 0%, #383566 100%);
    width: 100%;
    position: relative;
    z-index: 1;
    display: none;

    @media only screen and (max-width: $breakpoint-xs){
      @include flexbox();
      @include justify-content(center);
    }
  }
}

.b-icon-open {
  position: absolute;
  left: 19px;
  top: 50%;
  @include translate(0, -50%);

  &--line {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
    background: #ffffff;
    z-index: 1;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mobile-logo {
  height: $sidebar-mobile-height;
}

.mobile-winner {
  width: 22px;
  height: 22px;
  top: 18px;
  right: 16px;
  position: absolute;

  &:before {
    content: "";
    background-image: url('#{$image-path}/icons.svg');
    background-position: 0 -554px;
    background-repeat: no-repeat;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
  }
}

