.b-similar-games {
  padding-left: $game-padding;
  padding-right: $game-padding;
  margin-bottom: 28px;

  &--header {
    color: #ffffff;
    @include rem(14);
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media only screen and (max-width: $breakpoint-xs){
      text-align: center;
      padding: 0 4px;
    }
  }

  &--link {
    border-radius: 8px;
    line-height: 0;
    position: relative;
    display: block;
    max-width: 164px;

    & .button {
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include box-shadow(inset 0 1px 31px $card-box-shadow-color);
      border-radius: $card-border-radius;
      background-color: $card-hover-background-color;
      opacity: 0.92;
      display: none;
    }

    &:hover {
      &:before {
        display: block;
      }

      & .button {
        display: block;
      }
    }

    @media only screen and (max-width: $breakpoint-md){
      &:before {
        display: none;
      }

      & .button {
        display: none;
      }

      &:active {
        &:before {
          display: none;
        }

        & .button {
          display: none;
        }
      }

      &:hover {
        &:before {
          display: none;
        }

        & .button {
          display: none;
        }
      }
    }
  }

  .row{
    margin-left: -22px;
    margin-right: -22px;
  }

  .col-auto{
    padding-left: 22px;
    padding-right: 22px;
  }

  @media only screen and (max-width: $breakpoint-xl){
    padding-bottom: 13px;

    .row{
      margin-left: -8px;
      margin-right: -8px;
    }

    .col-auto{
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 16px;
    }
  }

  @media only screen and (max-width: $breakpoint-md){
    padding-bottom: 13px;

    .row{
      margin-left: -4px;
      margin-right: -4px;
      flex-flow: nowrap;
      overflow-x: auto;
      min-height: 110px;
    }

    .col-auto{
      padding-left: 4px;
      padding-right: 4px;
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: $breakpoint-xs){
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    .row{
      margin-left: 0;
      margin-right: 0;
    }
  }

}