.b-slider {
  margin-left: calc(var(--sidebar-width) * -1);
  position: relative;

  @media only screen and (max-width: $breakpoint-xs){
    margin-left: 0;
  }

  &--content {
    margin-left: var(--sidebar-width);
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
  }
}

