.b-summary {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  padding-left: var(--sidebar-width);

  &--with-aside {
    padding-right: var(--sidebar-width);
  }

  @media only screen and (max-width: $breakpoint-xs){
    padding-left: 0;
    padding-right: 0;
    flex: 0 0 100%;
  }

  &--gradient {
    @include linear-gradient(180deg, $summary-gradient-color-1 0%, $summary-gradient-color-2 190%);
  }
}