

.b-support {
  width: 280px;
  height: 377px;
  box-shadow: 0 4px 17px #210b2a;
  border-radius: 8px;
  border: 1px solid #8f9ef1;
  position: fixed;
  z-index: 999;
  @include linear-gradient(180deg, #485d94 0%, #4f4f91 100%);
  padding-top: $support-header-height;
  left: 183px;
  bottom: 150px;
  display: none;

  @media only screen and (max-width: $breakpoint-xs){
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
    border: none;
    padding-top: $support-mobile-header-height;
  }

  &--header {
    height: $support-header-height;
    border-radius: 8px 8px 0 0;
    @include linear-gradient(180deg, #6573be 0%, #20285c 100%);
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100%;
    color: #ffffff;
    @include rem(13);
    font-weight: 400;
    line-height: 16px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    border-bottom: 1px solid #8f9ef1;

    @media only screen and (max-width: $breakpoint-xs){
      height: $support-mobile-header-height;
      border: none;
      padding-left: 20px;
      @include linear-gradient(180deg, #546eac 0%, #383566 100%);
    }

    &:before {
      content: "";
      position: absolute;
      width: 244px;
      height: 100%;
      left: 34px;
      top: 0;
      background: url('#{$image-path}/b-support--header-background.svg') no-repeat 0 0 transparent;
      z-index: -1;
    }
  }

  &--footer {
    bottom: 0;
    width: 100%;
    left: 0;
    position: absolute;
    height: $support-footer-height;
  }

  &--textarea {
    bottom: 0;
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
    background-color: #5f5f98;
    padding-right: 40px;
    border-radius: 0 0 8px 8px;
    border: none;
    color: #ffffff;
    @include rem(12);
    font-weight: 400;
    padding: 5px 16px;
    resize: vertical;
  }

  &--send {
    width: 24px;
    height: 24px;
    border: 1px solid #8f9ef1;
    @include linear-gradient(180deg, #546eac 0%, #383566 100%);
    position: absolute;
    right: 12px;
    bottom: 50%;
    @include translate(0, 50%);
    border-radius: 50%;

    &:before {
      content: '';
      position: absolute;
      background-image: url('#{$image-path}/icons.svg');
      background-position: 0 -109px;
      background-repeat: no-repeat;
      width: 16px;
      height: 10px;
      top: 6px;
      left: 2px;
    }
  }

  &--close {
    width: 24px;
    height: 24px;
    border: 1px solid #8f9ef1;
    @include linear-gradient(180deg, #546eac 0%, #383566 100%);
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    right: -34px;
    top: 0;

    @media only screen and (max-width: $breakpoint-xs){
      width: 20px;
      height: 20px;
      right: auto;
      left: 16px;
      top: 50%;
      @include translate(0, -50%);
      background-image: none;
      background-color: transparent;
      border: none;
    }

    &:before {
      content: '';
      position: absolute;
      background-image: url('#{$image-path}/icons.svg');
      background-position: 0 -99px;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      top: 6px;
      left: 6px;

      @media only screen and (max-width: $breakpoint-xs){
        background-position: 0 -647px;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
      }
    }
  }

  &--body {
    position: absolute;
    top: $support-header-height;
    bottom: $support-footer-height;
    width: 100%;
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media only screen and (max-width: $breakpoint-xs){
      top: $support-mobile-header-height;
    }

    &-text {
      color: #9bb1ff;
      @include rem(12);
      font-weight: 400;
      line-height: 19px;
    }

    &-date {
      height: 46px;
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
    }

    &-time {
      position: absolute;
      top: 50%;
      left: -5px;
      @include translate(0,-50%);
    }

    &-name {
      padding-left: 13px;
      padding-bottom: 6px;
    }
  }

  &--message {
    background: #ffffff;
    border-radius: 8px;
    color: #253156;
    @include rem(13);
    font-weight: 400;
    line-height: 18px;
    position: relative;
    display: inline-flex;
    padding: 10px 12px 15px;
    margin-left: 35px;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-left: 9px solid #ffffff;
      border-bottom: 9px solid transparent;
      position: absolute;
      right: -3px;
      bottom: 25%;
    }

    &-wrapper {
      position: relative;
      margin-bottom: 14px;

      @media only screen and (max-width: $breakpoint-xs){
        margin-bottom: 25px;
      }
    }

    &-income {
      & .b-support--message {
        color: #ffffff;
        @include rem(14);
        font-weight: 400;
        line-height: 22px;
        background-color: #35b084;
        margin-left: 0;
        margin-right: 35px;

        &:before {
          border-right: 9px solid #35b084;
          border-left: none;
          left: -3px;
          right: auto;
        }
      }
    }
  }
}

.b-support--textarea::-webkit-input-placeholder {
  color: #ffffff;
  @include rem(12);
  font-weight: 400;
}
.b-support--textarea::-moz-placeholder {
  color: #ffffff;
  @include rem(12);
  font-weight: 400;
}
.b-support--textarea:-ms-input-placeholder {
  color: #ffffff;
  @include rem(12);
  font-weight: 400;
}
.b-support--textarea::-ms-input-placeholder {
  color: #ffffff;
  @include rem(12);
  font-weight: 400;
}
.b-support--textarea::placeholder {
  color: #ffffff;
  @include rem(12);
  font-weight: 400;
}
.b-support--textarea:disabled, .form-control[readonly] {
  color: #ffffff;
  @include rem(12);
  font-weight: 400;
}