.b-table {
  color: #ffffff;
  @include rem(12);
  font-weight: 400;
  line-height: 12px;
  width: 330px;
  border-collapse: collapse;
  table-layout: fixed;
  margin-right: 50px;

  @media only screen and (max-width: $breakpoint-xs){
    width: 320px;
    margin-right: 0;
  }

  .b-table--body & {
    border-bottom: 1px solid $table-border-color;
  }

  &--wrapper {
    position: relative;

    @media only screen and (max-width: $breakpoint-md){
      z-index: 1;
    }

    .col-auto {
      @media only screen and (max-width: $breakpoint-xs){
        padding: 0;
      }
    }
  }

  &--body {
    background-color: $body-background-color;
    padding-bottom: 34px;
    padding-left: var(--sidebar-width);
    margin-left: calc(var(--sidebar-width) * -1);

    @media only screen and (max-width: $breakpoint-md){
      padding-bottom: $padding-md;

      & .row {
        padding-top: $padding-md;
      }
    }
  }

  &--header {
    border-top: 1px solid $table-header-border-color;
    border-bottom: 1px solid $table-header-border-color;
    background-color: $table-header-background-color;

    padding-left: var(--sidebar-width);
    margin-left: calc(var(--sidebar-width) * -1);

    @media only screen and (max-width: 984px){
      & .col-auto:last-child {
        display: none;
      }
    }
  }

  & th {
    @include rem(14);
    font-weight: 500;
    line-height: 16px;
    padding-bottom: 9px;
    text-align: center;
    padding-top: 9px;
    position: relative;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }

    @media only screen and (max-width: $breakpoint-md){
      &:first-child {
        text-align: center;
      }
    }

    @media only screen and (max-width: $breakpoint-xs){
      width: 100px;

      &:first-child {
        text-align: left;
      }
    }
  }

  & td {
    vertical-align: middle;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid $table-border-color;
   // outline: 1px solid $table-border-color-2;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:before {
      position: absolute;
      display: block;
      content: '';
      border-top: 1px solid $table-border-color-2;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      left: 0;
      -webkit-box-sizing: border-box;
      top: 0;
    }

    &:after {
      content: "";
      border-right: 1px solid $table-border-color;
      position: absolute;
      top: $table-padding;
      bottom: $table-padding;
      right: 0;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &--name {
    width: 147px;
    padding-right: 15px;

    @media only screen and (max-width: $breakpoint-xs){
      width: 134px;
      padding-left: 10px;
      padding-right: 8px;
    }
  }

  &--game {
    width: 116px;
    padding-left: 15px;
    padding-right: 15px;

    @media only screen and (max-width: $breakpoint-xs){
      width: 99px;
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  &--money {
    width: 66px;
    padding-left: 15px;
    text-align: right;

    & span {
      color: $yellow;
    }

    @media only screen and (max-width: $breakpoint-xs){
      width: 60px;
      padding-left: 8px;
      padding-right: 8px;
      text-align: left;
    }
  }

  &--avatar {
    margin-right: 17px;
    width: $table-avatar-size;
    height: $table-avatar-size;
    border-radius: $table-avatar-border-radius;
    border: 1px solid $table-avatar-border-color;
    vertical-align: middle;

    @media only screen and (max-width: $breakpoint-xs){
      margin-right: 8px;
    }
  }
}
