.b-transactions{
  @include flexbox();
  @include flex-wrap(wrap);

  @media only screen and (max-width: $breakpoint-sm){
    @include flex-wrap(nowrap);
  }


  &--title{
    background: #5C60AB;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-around);
    width: 100%;

    @media only screen and (max-width: $breakpoint-sm){
      @include flex-flow(column);
      width: 72px;
      @include justify-content(flex-start);
      @include align-items(center);
    }

    &-coll{
      @include flex-grow(1);
      @include flex-basis(0);
      @include justify-content(center);
      @include flexbox();
      @include align-items(center);
      @include rem(14);
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 1;
      height: 38px;

      @media only screen and (max-width: $breakpoint-sm){
        width: 100%;
        @include align-items(center);
        min-height: 41px;
        @include rem(12);
        text-align: center;
        border-bottom: 1px solid #2B3A63;
        border-top: 1px solid #121828;

        &:first-child{
          border-top: none;
        }

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }

  &--content{
    width: 100%;

    @media only screen and (max-width: $breakpoint-sm){
      overflow-x: auto;
    }

    &-inner{
      @media only screen and (max-width: $breakpoint-sm){
        @include flexbox();
        @include flex-wrap(nowrap);
        height: 100%;
        width: 100%;
        white-space: nowrap;
      }
    }

    &-row{
      @include flexbox();
      @include align-items(center);
      height: 38px;
      border-bottom: 1px solid #435077;

      @media only screen and (max-width: $breakpoint-sm){
        @include flex-flow(column);
        width: 94px;
        min-width: 94px;
        height: 100%;
        @include justify-content(flex-start);
        @include align-items(center);
      }
    }

    &-coll{
      @include flex-grow(1);
      @include flex-basis(0);
      @include justify-content(center);
      @include flexbox();
      @include rem(12);
      letter-spacing: 0;
      text-align: center;
      line-height: 1;
      color: #FFFFFF;
      position: relative;

      &:before{
        content: "";
        position: absolute;
        right: -1px;
        width: 1px;
        height: 20px;
        background-color: #121828;
        top: 50%;
        margin-top: -10px;
      }

      &:after{
        content: "";
        position: absolute;
        right: 0;
        width: 1px;
        height: 20px;
        background-color: #2B3A63;
        top: 50%;
        margin-top: -10px;
      }

      &:last-child{
        &:before,
        &:after{
          display: none;
        }
      }

      @media only screen and (max-width: $breakpoint-sm){
        width: 94px;
        min-width: 94px;
        height: 41px;
        max-height: 41px;
        @include align-items(center);
        border-right: 1px solid #2B3A63;
        border-left: 1px solid #121828;
        border-bottom: 1px solid #2B3A63;
        border-top: 1px solid #121828;

        &:before,
        &:after{
          display: none;
        }

        &:first-child{
          border-top: none;
        }

        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
}