//Colors
$body-background-color: #101627;
$placeholder-color: #768ed3;
$yellow: #fbc631;
$orange: #ff9800;
$chetwodeBlue: #6675A2;

//Summary
$summary-gradient-color-1: #1e2947;
$summary-gradient-color-2: #374875;

//Sidebar
$sidebar-background-color: #253156;
$sidebar-border-color-1: #435077;
$sidebar-border-color-2: #1c2748;
$sidebar-badge-box-shadow-color: #232f54;
$sidebar-statistic-border-color: #7181df;
$sidebar-badge-background-color: #232f54;

//Buttons
$button-color: #ffffff;

$button-disabled-background-color: #2b3965;
$button-disabled-border-color: #384a76;

$button-green-background-color-1: #35b084;
$button-green-background-color-2: #42c294;
$button-green-border-color: #3dc594;
$button-green-background-hover-color: #68e9bb;
$button-green-text-shadow-color: #00b394;

$button-blue-background-color-1: #5067a3;
$button-blue-background-color-2: #485d94;
$button-blue-border-color: #5b75b8;
$button-blue-background-hover-color-1: #768ecd;
$button-blue-background-hover-color-2: #8da4e1;
$button-blue-text-shadow-color: #253156;

$button-small-background-color: #7181df;
$button-small-border-color: #2f3159;

//Input
$input-background-color: #435791;
$input-border-color: #5069b5;
$input-color: #ffffff;

//Menu
$menu-background-color: #27345b;
$menu-border-color: #435077;
$menu-box-shadow-color: #323d62;
$menu-current-background-color: #1e2947;
$menu-item-border-right-color: #435077;
$menu-item-border-left-color: #1e2334;

//Cards
$card-box-shadow-color: #dae5ff;
$card-hover-background-color: #5067a3;
$card-border-color: #a6bfff;

//Table
$table-border-color: #435077;
$table-border-color-2: #1c2748;
$table-border-color-3: #121828;
$table-avatar-border-color: #7891d1;
$table-header-border-color: #2b3a63;
$table-header-background-color: #2e3e6a;

//Banner
$banner-background: #7181df;
$banner-border-color: #556699;

//Progress-bar
$progress-bar-background-color: #435077;

//Popup
$popup-background-color: #323d62;
$popup-input-background-color: #435077;
$popup-backdrop-background-color: #1b2642;
$popup-orange-color: #fda843;
$popup-pagination-background-color: #272e4a;
$popup-input-color: #dbdbdb;
$popup-step-background-color: #435077;

//Checkbox
$checkbox-border-color: #576591;

//Footer
$footer-payment-way-background-color: #1b2642;
$footer-payment-way-border-color: #374771;

//Profile
$profile-border-color: #7181df;
$profile-background-color: #232f54;
$profile-color: #87a3f9;
$profile-yellow: #ffc835;

//Sizes
:root {
  --sidebar-width: 165px;
  --sidebar-popup-width: 215px;
}
$breakpoint-xs: 576px;
$breakpoint-sm: 767px;
$breakpoint-md: 771px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1206px;

$button-width: 130px;
$input-width: 130px;

$menu-height: 58px;
$menu-height-md: 38px;
$menu-height-xs: 47px;

$card-block-max-width: 934px;
$card-block-max-width-md: 605px;

$padding-md: 16px;

$card-border-radius: 8px;
$table-avatar-border-radius: 6px;
$table-avatar-size: 24px;
$table-padding: 8px;

$sidebar-mobile-height: 58px;
$sidebar-popup-top-block-height: 56px;
$sidebar-game-border-radius: 8px;

$game-padding: 44px;

$progress-bar-border-radius: 8px;
$progress-bar-height: 13px;

$support-header-height: 48px;
$support-mobile-header-height: 58px;
$support-footer-height: 55px;

//Paths
$font-path: '../fonts';
$image-path: '../images';

//Fonts
$sf-font-family: 'SF UI Display', sans-serif;
$roboto-font-family: 'Roboto', sans-serif;
$lato-font-family: 'lato', sans-serif;
$ag-font-family: 'AG_Futura', sans-serif;