.b-winners {
  padding-top: 25px;

  @media only screen and (max-width: $breakpoint-lg){
    padding-top: 14px;
  }

  @media only screen and (max-width: $breakpoint-md){
    padding-top: 0;
  }

  &--header {
    @include flexbox();
    @include align-items(flex-end);
    padding-left: 10px;
    padding-right: 10px;

    @media only screen and (max-width: $breakpoint-lg){
      padding-left: $padding-md;
      padding-right: 146px;
    }

    @media only screen and (max-width: $breakpoint-md){
      padding-right: 73px;
    }

    @media only screen and (max-width: $breakpoint-xs){
      padding-right: $padding-md;

      & h2 {
        text-align: center;
        width: 100%;
      }
    }


  }

  &--trophy {
    margin-bottom: -3px;
    min-width: 70px;

    @media only screen and (max-width: $breakpoint-xs){
      display: none;
    }

  }

  .row {
    margin: 0;
  }
}
