/* Reset by Normalize ====================================== */
@import "normalize.css";

@import "_variables";
@import "_mixins";

* {
  outline: none;
}

//Placeholder
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $placeholder-color;
  opacity: 1; /* Firefox */
  font-weight: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $placeholder-color;
  font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $placeholder-color;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  min-height: 0;
  min-width: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $body-background-color;
  font-family: $roboto-font-family;
}

/* Fonts ====================================== */
@import "_fonts";
/* Fonts ====================================== */
@import "_grid";
/* Spacers ====================================== */
@import "_spacers";
/* Buttons ====================================== */
@import "_buttons";
/* Language ====================================== */
@import "_language";
/* Input ====================================== */
@import "_input";
/* Sidebar ====================================== */
@import "_sidebar";
/* Slider ====================================== */
@import "_slider";
/* Menu ====================================== */
@import "_menu";
/* Breadcrumbs ================================ */
@import "_breadcrumbs";
/* Cards ====================================== */
@import "_cards";
/* Table ====================================== */
@import "_table";
/* Winners ====================================== */
@import "_winners";
/* Game ====================================== */
@import "_game";
/* Similar games ================================ */
@import "_similar-games";
/* Footer ====================================== */
@import "_footer";
/* Aside ====================================== */
@import "_aside";
/* Summary ====================================== */
@import "_summary";
/* Progress bar ================================= */
@import "_progress-bar";
/* Popup ====================================== */
@import "_popup";
/* General ====================================== */
@import "_general";
/* Personal information =========================== */
@import "_personal-information";
/* Profile ====================================== */
@import "_profile";
/* Cashier ====================================== */
@import "_cashier";
/* Transactions ====================================== */
@import "_transactions";
/* Select ====================================== */
@import "_select";
/* Radio ====================================== */
@import "_radio";
/* Support ====================================== */
@import "_support";

/* Checkbox ====================================== */
@import "_checkbox";


/* Custom ====================================== */
@import "_custom";



/* Layout ====================================== */
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-container {
  flex: 1 0 auto;
  display: flex;
}

.main-container-wrapper {
  display: flex;
  width: 100%;

  @media only screen and (max-width: $breakpoint-xs){
    flex-flow: wrap;
  }
}

/* Custom headers ====================================== */
h2 {
  color: #ffffff;
  @include rem(22);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  @media only screen and (max-width: $breakpoint-lg){
    @include rem(18);
  }

  @media only screen and (max-width: $breakpoint-xs){
    @include rem(16);
  }
}

/* Custom colors ====================================== */
.custom-color--yellow {
  color: $yellow;
}


